*{
    background-color: black;
}

.homepage,.column,.search{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.toprated{
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}