.navbar{

    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(49, 49, 1);
    font-size: 1.2rem;
    
}



label{
    font-weight: bold;
    color: yellow;
    
}

ul{
    display: flex;
}

input{
    border-radius: 10px;
    height: 40px;
    color: rgb(32, 45, 3);
    background-color: white;
    width: 300px;
    border: none;
    font-size: 1rem;
    
}
form{
    display: flex;
    align-items: center;
}

.ullist{
    display: flex;
    flex-direction: row-reverse;
}



li{
    list-style: none;
    color: rgb(255, 255, 255);
    margin: 10px;
}

li:hover{
    color: red;
    cursor: pointer;
    
}
h3{
    padding: 5px;
    background-color: rgb(238, 255, 0);
    border: 2px solid;
    border-radius: 10px;
}
.ham{
    width: 30px;
    height: 30px;
    display: none;
}
.line{
    margin: 5px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
@media screen and (max-width: 680px) {
    
  
    .ham {
        display: block;
        cursor: pointer;
      }
    
      .ullist {
        display: none;
        position: absolute;
        background-color:white;
        flex-direction: column-reverse;
        align-items: center;
        
        top:70px;
        z-index: 1;
        right: 0;
        width: 70%;
       border-radius: 10px 0 0 10px;
        justify-content:space-around;
        align-items: center;
        /* Additional styles for the open menu */
        &.open {
          display: flex;
          align-items: center;
          flex-direction: column-reverse;
          a{
            background: white;
          }
        }
      }
    li{
        background-color: white;
        color: black;
       
    }
    .mobile-search {
        margin-top: 10px;
        text-align: center;
      }
    
      input {
        width: 90%;
        border: 1px solid black;
      
        /* Add any other styles for the search input */
      }
      ul{
        flex-direction: column;
        background-color: white;
        z-index: 1;
      }
      label{
        display: none;
      }
      form{
        background-color: white;
      }
      /* a{
        background-color: white;
      } */
      
}